body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px;
    width: 400px;
    height: 600px;
    margin-top:100px;
    border:solid 2px grey;
    border-radius: 20px;
    background-color: rgb(255, 177, 108);
    
}

#buttons-div {
    display: flex;
    justify-content: space-between;
    max-width: auto;

}

.button-style {
    display: flex;
    justify-content: center;
    align-items: center;
    border:none;
    border-radius: 20px;
    background-color: rgb(253, 143, 9);    width: auto;
    height: 45px;
    padding: 10px;
    font-size: 20px;
    color:rgb(255, 255, 255);


}

.button-onclick{
    display: flex;
    justify-content: center;
    align-items: center;
    border:none;
    border-radius: 20px;
    background-color: rgb(252, 213, 129);
    width: auto;
    height: 45px;
    padding: 10px;
    font-size: 20px;
    color:rgb(255, 254, 254);
}

#log {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    border-radius: 20px;
    background-color: rgb(255, 226, 147);

    color:rgb(97, 97, 97);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;

}
#results {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    height: 200px;
    background-color: rgb(255, 226, 147);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 200px;

}

#images {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: auto;
}

#player-hand {

    display: flex;
    justify-content: center;
    border-radius: 20px;
    background-color: rgb(255, 226, 147);
    width: 160px;
    height: 160px;
    
    overflow: hidden;

}

#computer-hand {
    display: flex;
    justify-content: center;
    border-radius: 20px;
    background-color: rgb(255, 226, 147);
    width: 160px;
    height: 160px;
   
    overflow: hidden;
}

img {
    max-width: 100%;
    height: auto;
    object-fit: scale-down;
    position: relative;

}

img.no-animation{
    animation-name: none;
}

img.animation-win{
    animation-name: bounce;
    animation-duration: 0.5s;
}

@keyframes bounce{
    0%   {left:0px; top:0px;}
    25%  {left:0px; top:20px;}
    50%  {left:0px; top:0px;}
    75%  {left:0px; top:10px;}
    100% {left:0px; top:0px;}

}