.rubik-mono-one-regular {
  font-family: "Rubik Mono One", monospace;
  font-weight: 400;
  font-style: normal;
}

body{

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    margin:0;

}
header{
    display: flex;
    justify-content: center;
    font-size: 40px;
    color: rgb(167, 167, 167);
    }

#card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px;
    width: 400px;
    height: 600px;
    border:solid 2px grey;
    border-radius: 20px;
    background-color: rgb(255, 177, 108);
    
}

#buttons-div {
    display: flex;
    justify-content: space-between;
    max-width: auto;

}

.button-style {
    display: flex;
    justify-content: center;
    align-items: center;
    border:none;
    border-radius: 20px;
    background-color: rgb(253, 143, 9);    
    width: auto;
    height: 45px;
    padding: 10px;
    font-size: 20px;
    color:rgb(255, 255, 255);


}

.button-onclick{
    display: flex;
    justify-content: center;
    align-items: center;
    border:none;
    border-radius: 20px;
    background-color: rgb(252, 213, 129);
    width: auto;
    height: 45px;
    padding: 10px;
    font-size: 20px;
    color:rgb(255, 254, 254);
}

#log {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    border-radius: 20px;
    background-color: rgb(255, 226, 147);

    color:rgb(97, 97, 97);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;

}
#results {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    height: 200px;
    background-color: rgb(255, 226, 147);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 200px;

}

#images {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: auto;
}

#player-hand {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 20px;
    background-color: rgb(255, 226, 147);
    width: 160px;
    height: 160px;
    
    overflow: hidden;

}

#computer-hand {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 20px;
    background-color: rgb(255, 226, 147);
    width: 160px;
    height: 160px;
   
    overflow: hidden;
}

img {
    max-width: 100%;
    height: auto;
    object-fit: scale-down;
    position: relative;

}

#player-shadow {
    align-self: center;
    background-color: rgba(0, 0, 0, 0.5);
    height: 5px;
    width: 80px;

 
    
}

#comp-shadow {
    align-self: center;
    background-color:rgba(0, 0, 0, 0.5);
    height: 5px;
    width: 80px;

  
}

#player-shadow.no-animation{
    animation-name: none;
}

#player-shadow.animation-win{
    animation-name: shadow-bounce;
    animation-duration: 0.5s;
}

#comp-shadow.no-animation{
    animation-name: none;
}

#comp-shadow.animation-win{
    animation-name: shadow-bounce;
    animation-duration: 0.5s;
}

@keyframes shadow-bounce{
    0%   {width:80px;}
    25%  {width:40px;}
    50%  {width:80px;}
    75%  {width:60px;}
    100% {width:80px;}

}

img.no-animation{
    animation-name: none;
}

img.animation-win{
    animation-name: bounce;
    animation-duration: 0.5s;
}

@keyframes bounce{
    0%   {left:0px; top:0px;}
    25%  {left:0px; top:20px;}
    50%  {left:0px; top:0px;}
    75%  {left:0px; top:10px;}
    100% {left:0px; top:0px;}

}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    margin-top: auto;
    color:rgb(174, 174, 174);
}

#wincontainer{
    display:flex;
    position:absolute;
    z-index: 0;
    padding:auto;
    justify-content: center;
    align-self: center;
    
    
}
#winbox {
    display: flex;
    flex-direction: column;
    margin:auto;
    
    border: 10px solid rgb(253, 143, 9);    
    border-radius: 20px;
    padding: 50px;

    max-width: 200px;
    max-height: 150px;
    background-color: rgb(255, 185, 99);

    font-size: 30px;

    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.5);

    
    cursor: pointer; /* Add a pointer on hover */
    
}